.navbar{
    background-color: black;
    padding: 15px 0;
    display: block;
    color: white;

}
.navbar a{
    text-decoration: none;
    font-size: 24px;
    margin-right: 20px;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    opacity: .8;
}
.navbar a:hover{
    background-color: blanchedalmond;
    color: black;
}
